*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes';
    color: rgb(27, 28, 33);
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}
svg {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.main {
    background-color: rgb(248, 248, 248);
    display: flex;
    height: auto;
}
.main__body {
    padding-inline: 16px;
    width: 100%;
}

/* --------- BUTTON ------------------------------------------------------ */

.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}
.button--icon {
    border-radius: 50%;
    background: #FF3E79 center no-repeat;
    color: #fff;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    padding: 10px;
}
.button:hover {
    opacity: 0.5;
}
.button--showmore {
    background: transparent;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
}
.button--showmore::before {
    content: '';
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background: url('../img/icons/expand.png') center no-repeat;
    transition: all 0.3s;
}
.hide::before {
    transform: rotate(180deg);
}

/* --------- CONTACTS ------------------------------------------------------ */

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

/* --------- ACTIONS ------------------------------------------------------ */

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.actions__button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.actions__button-text {
    display: none;
    white-space: nowrap;
    order: -1;
    margin-right: 5px;
    color: #1B1C21;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
}

/* --------- HEADER ------------------------------------------------------ */

.header {
    padding: 18px 0;
    margin-bottom: 24px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__start {
    display: flex;
    align-items: center;
}
.header__burger {
    display: flex;
    align-items: center;
}
.header__search,
.header__contacts {
    display: none;
}
.header__actions::before {
    content: '';
    width: 2px;
    height: 32px;
    background: rgb(234, 234, 234);
    border-radius: 1px;
}
.header__logo {
    padding-inline: 16px;
    margin-right: auto
}

/* --------- LOGO ------------------------------------------------------ */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__img {
    max-width: 100%;
    height: 100%;
}

/* --------- TITLE ------------------------------------------------------ */

.title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.6px;
    width: fit-content;
    position: relative;
    transition: all 0.5s;
}
.title::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: -20px;
    background: rgb(65, 246, 215);
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.title--active::before,
.title:hover::before {
    opacity: 1;
}
.title--section {
    color: rgb(126, 126, 130);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

/* --------- SERVICES ------------------------------------------------------ */

.services {
    display: flex;
    flex-direction: column;
}
.services__title {
    margin-bottom: 24px;
    line-height: 40px;
    max-width: 450px;
}
.services__nav {
    overflow-x: auto;
    margin-bottom: 24px;
}
.services__list {
    display: flex;
    align-items: center;
}
.services__item {
}
.services__link {
    display: inline-flex;
    align-items: center;
    color: rgb(126, 126, 130);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid transparent;
    border-radius: 6px;
    padding-inline: 16px;
    min-height: 40px;
    white-space: nowrap;
}
.services__link:hover {
    border-color: #B8FFEC;
}
.services__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}
.services__text--hidden {
    display: none;
}
.services__image-block {
    margin-inline: -16px;
}
.services__image {
    width: 100%;
}

/* --------- MOBILE MENU ------------------------------------------------------ */

.mobile-menu {
    width: 320px;
    height: 100%;
    min-height: 100vh;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),-2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}
.mobile-menu__navigation {
    flex: 1 1 auto;
    margin-bottom: 32px;
}
.mobile-menu .header__search {
    display: block;
}

/* --------- MOBILE NAVIGATION ------------------------------------------------------ */

.navigation__item {
    margin-bottom: 32px;
}
.navigation__item:last-child {
    margin-bottom: 0;;
}
.navigation__title {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(27, 28, 33);
    cursor: pointer;
}
.navigation__title.title--active,
.navigation__title:hover {
    color: rgb(126, 126, 130);
}

/* --------- MOBILE FOOTER ------------------------------------------------------ */

.footer {
    padding: 0 24px;
}
.footer__contacts {
    width: 152px;
    margin-bottom: 16px;
    color: rgb(27, 28, 33);
}

.language {
    display: flex;
    gap: 10px;
}
.language__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    caret-color: transparent;
    cursor: pointer;
    transition: color 0.5s;
}
.language__item--active>.language__link,
.language__link:hover {
    color: rgb(126, 126, 130);
}

/* --------- ADDRESS ------------------------------------------------------ */

.address {
    font-style: normal;
}
.address__email {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
}
.address__phone {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
}
.address__email,
.address__phone {
    transition: color 0.3s ease-in;
}
.address__email:hover,
.address__phone:hover {
    color: #FF3E79;
}

/* --------- BRANDS REPAIR ------------------------------------------------------ */

.brands-repair {
    padding: 16px 0;
}
.brands-repair__title {
    margin-bottom: 32px;
}

.swiper.brands-repair__body {
    padding-bottom: 38px;
    margin-inline: -16px;
}
.swiper.brands-repair__body::before,
.swiper.brands-repair__body::after {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 72px;
    bottom: 38px;
    z-index: 10;
}
.swiper.brands-repair__body::before {
    left: 0;
    background: linear-gradient(90.00deg, rgb(248, 248, 248) 16.836%,rgba(248, 248, 248, 0) 100%);
}
.swiper.brands-repair__body::after {
    right: 0px;
    background: linear-gradient(270.00deg, rgb(248, 248, 248) 16.836%,rgba(248, 248, 248, 0) 100%);
}
.swiper-pagination.brands-repair__pagination {
    white-space: nowrap;
    bottom: 0;
}
.swiper-pagination.brands-repair__pagination .swiper-pagination-bullet {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-inline: 6px;
    background-color: #888888;
    caret-color: transparent;
}
.swiper-pagination.brands-repair__pagination .swiper-pagination-bullet-active {
    background: rgb(181, 182, 188);
}
.brands-repair__button {
    display: none;
}

/* --------- BRANDS ITEM ------------------------------------------------------ */

.brands-item {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 72px;
}
.brands-item__img {
    height: auto;
    max-width: 50%;
    max-height: 38px;
    object-fit: contain;
}
.brands-item__link {
    background: transparent url('../img/icons/arrow.svg') 50% 50% no-repeat;
    border: 2px solid #FF3E79;
    flex: 0 0 40px;
}

/* --------- MEDIA ------------------------------------------------------ */

@media (min-width: 768px) {
    .header__burger::after {
        content: '';
        width: 2px;
        height: 32px;
        margin-left: 20px;
        background: rgb(234, 234, 234);
        border-radius: 1px;
    }
    .header__contacts {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: auto;
    }

    .main__body {
        padding-inline: 24px;
    }

    .services__content {
        display: flex;
        justify-content: space-between;
    }
    .services__image-block,
    .services__text-block {
        flex: 0 0 50%;
    }
    .services__image-block {
        border-radius: 5px;
        overflow: hidden;
        margin-inline: 0;
    }
    .services__text {
        padding-right: 48px;
    }
    .services__text--hidden {
        display: block;
    }

    .brands-repair__button {
        display: flex;
    }

    .brands-repair__body {
        margin-bottom: 24px;
    }
    .brands-repair__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 16px;
        column-gap: 24px;
    }
    .brands-repair__item--hidden,
    .brands-repair__item--hidden-tablet {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
}

@media (min-width: 992px) {
    .main__body {
        flex: 1 1 auto;
    }
    .main__aside {
        flex: 0 0 320px;
    }
    .main__services {
        margin-top: -87px;
    }

    .header__start {
        width: calc(23% - 16px);
    }
    .header__burger {
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__button {
        margin-right: 24px;
    }
    .header__start .header__search {
        display: block;
        margin-right: 30px;
    }
    .actions__button-text {
        display: inline-flex;
    }
    .header__actions::before {
        display: none;
    }
    .services__list {
        flex-wrap: wrap;
    }

    
}

@media (min-width: 1200px) {
    .brands-repair__list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }
    .brands-repair__item--hidden-tablet {
        display: flex;
    }
}