@import 'mixins';

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes';
    color: rgb(27, 28, 33);
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}
svg {
    width: 100%;
    height: 100%;
}

// для элементов без отступов по краям экрана
.offset-off {
    margin-inline: -16px;

    @media(min-width: 768px) {
        margin-inline: -24px;
    }
}

.page {
    min-height: 100vh;
    height: 100%;
    position: relative;

    &__container {
        background-color: rgb(248, 248, 248);
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        padding: 0 16px;
        height: 100%;

        @media(min-width: 768px) {
            padding: 0 24px;
        }
    }

    &__body {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .open-modal & {
            height: 100vh;
            overflow: hidden;
        }

        @media(min-width: 992px) {
            flex: 1 1 700px;
            min-width: 700px;
        }
    }

    &__aside {
        padding-inline: 16px;
        width: 320px;
        min-height: 100%;
        transform: translateX(-344px);
        transition: transform 0.3s ease;
        position: absolute;
        background: #ffffff;
        z-index: 2;
        
        .open-modal & {
            height: 100vh;
            overflow: hidden;
        }

        @media(min-width: 768px) {
            padding-inline: 24px;
        }

        @media(min-width: 992px) {
            position: static;
            transform: translateX(0);
            width: auto;
            padding-inline: 24px;
            margin-left: -24px;
            flex: 0 1 344px;
            display: flex;
            flex-direction: column;
            max-height: 888px;
            box-shadow: none;
        }

        &.open {
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),-2px 0px 4px 0px rgba(69, 79, 126, 0.02);
            transform: translateX(-16px);

            @media(min-width: 768px) {
                transform: translateX(-24px);
            }
        }
    }

    &__header {
        margin-bottom: 24px;
    }

    &__main {
        flex: 1 1 auto;

        @media(min-width: 992px) {
            padding-left: 24px;
        }
    }

    &__footer {
        @media(min-width: 992px) {
            padding-left: 24px;
        }
    }

}

/* --------- BUTTON ------------------------------------------------------ */

.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-out;

    &--icon {
        border-radius: 50%;
        background: #FF3E79 center no-repeat;
        color: #fff;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        padding: 10px;
    }  

    &--burger {
        background-image: url('@/img/icons/burger.svg');
    }

    &--search {
        background-image: url('@/img/icons/search.svg');
    }

    &--chat {
        background-image: url('@/img/icons/chat.svg');
    }

    &--check {
        background-image: url('@/img/icons/check.svg');
    }

    &--close {
        background-image: url('@/img/icons/close.svg');
        
        @media(min-width: 992px) {
            display: none;
        }
    }
        
    &--phone {
        background-image: url('@/img/icons/phone.svg');
    }

    &--profile {
        background-image: url('@/img/icons/profile.svg');
    }

    &--repair {
        background-image: url('@/img/icons/repair.svg');
    }

    &--arrow {
        background-color: transparent;
        background-image: url('@/img/icons/arrow.svg');
    }

    &:hover {
        opacity: 0.5;
    }

    &--showmore {
        background: transparent;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;

        &::before {
            content: '';
            margin-right: 8px;
            width: 24px;
            height: 24px;
            background: url('@/img/icons/expand.png') center no-repeat;
            transition: all 0.3s;
        }
    }

    &--text {
        display: flex;
        align-items: center;
        height: 32px;
        width: fit-content;
        background-color: #FF3E79;
        border-radius: 16px;
        color: #ffffff;
        padding-inline: 17px;
        gap: 17px;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
    }
}

.hide::before {
    transform: rotate(180deg);
}

/* --------- CONTACTS ------------------------------------------------------ */

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

/* --------- ACTIONS ------------------------------------------------------ */

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;    

    &__button {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &__button-text {
        display: none;
        white-space: nowrap;
        order: -1;
        margin-right: 5px;
        color: #1B1C21;
        font-family: "TT Lakes";
        font-weight: 500;
        font-size: 16px;

        @media(min-width: 992px) {
            display: inline-flex;
        }
    }
}

/* --------- HEADER ------------------------------------------------------ */

.header {
    display: flex;
    align-items: center;
    padding: 18px 0;
    justify-content: space-between;

    &__start {
        display: flex;
        align-items: center;

        @media(min-width: 992px) {
            display: none;
        }
    }

    &__burger {
        display: flex;
        align-items: center;

        @media(min-width: 992px) {
            display: none;
        }
    }

    &__burger::after {
        @media(min-width: 768px) {
            content: '';
            width: 2px;
            height: 32px;
            margin-left: 20px;
            background: rgb(234, 234, 234);
            border-radius: 1px;
        }
    }
    &__actions {
        position: relative;
        z-index: 1;

        @media(min-width: 992px) {
            margin-left: auto;
        }
    }

    &__actions::before {
        content: '';
        width: 2px;
        height: 32px;
        background: rgb(234, 234, 234);
        border-radius: 1px;

        @media(min-width: 992px) {
            display: none;
        }
    }

    &__logo {
        padding-inline: 16px;
        margin-right: auto
    }

    .page__body &__search,
    &__contacts {
        display: none;
    }

    &__contacts {
        margin-left: auto;

        @media(min-width: 768px) {
            display: flex;
            align-items: center;
            margin-right: 20px;
            margin-left: auto;
        }

        @media(min-width: 992px) {
            display: none;
        }
    }

    &__search {
        .mobile-menu & {
            display: block;
        }

        .header__start & {
            @media(min-width: 992px) {
                display: block;
                margin-right: 30px;
            }
            
        }

        @media(min-width: 992px) {
            display: block;
        }
    }

    @media(min-width: 992px) {
        padding: 30px 0;
    }
}

/* --------- LOGO ------------------------------------------------------ */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__img {
    max-width: 100%;
    height: 100%;
}

/* --------- TITLE ------------------------------------------------------ */

.title {
    position: relative;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-transform: uppercase;

    &::before {
        @media(min-width: 768px) {
            left: -24px;
        }
    }

    &--h3 {
        background-image: linear-gradient(90deg, #F8F8F8 0%, #ffffff 100%);
        border-top: 1px solid #D9FFF5;
        padding: 16px;

        @media(min-width: 768px) {
            padding-inline: 24px;
        }
    }

    &--with-decor {
        position: relative;
    }
    &--with-decor::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        top: 0;
        left: -16px;
        background: rgb(65, 246, 215);
        border-radius: 0 4px 4px 0;
        opacity: 0;
        transition: opacity 0.5s;

        @media(min-width: 768px) {
            left: -24px;
        }
    }

    &--active::before,
    &:hover::before,
    &:active::before {
        opacity: 1;
    }
}

/* --------- MAIN ------------------------------------------------------ */

.main {
    &__services {
        @media(min-width: 992px) {
            margin-top: -90px;
        }
    }

    &__services,
    &__brands-repair,
    &__tech-types-repair {
        margin-bottom: 24px;

        @media(min-width: 768px) {
            margin-bottom: 32px;
        }

        @media(min-width: 992px) {
            margin-bottom: 50px;
        }
    }

    &__service-price {
        margin-bottom: 40px;

        @media(min-width: 768px) {
            margin-bottom: 47px;
        }

        @media(min-width: 992px) {
            margin-bottom: 50px;
        }
    }
}

/* --------- SERVICES ------------------------------------------------------ */

.services {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 24px;
        line-height: 40px;
        max-width: 450px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.6px;
        width: fit-content;
        position: relative;
        transition: all 0.5s;
        text-transform: none;
        color: #1B1C21;
    }

    &__nav {
        overflow-x: auto;
        margin-bottom: 24px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media(min-width: 768px) {
            flex-direction: row;
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @media(min-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        color: rgb(126, 126, 130);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        border: 2px solid transparent;
        border-radius: 6px;
        padding-inline: 16px;
        min-height: 40px;
        white-space: nowrap;

        &:hover {
            border-color: #B8FFEC;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;

        @media(min-width: 768px) {
            padding-right: 48px;
        }
    }

    &__text--hidden {
        display: none;

        @media(min-width: 768px) {
            display: block;
        }
    }

    &__image-block {
        margin-inline: -16px;

        @media(min-width: 768px) {
            border-radius: 5px;
            overflow: hidden;
            margin-inline: 0;
            flex: 0 0 50%;
        }
    }

    &__text-block {
        @media(min-width: 768px) {
            flex: 0 0 50%;
        }
    }

    &__image {
        width: 100%;
    }
}

/* --------- NAVIGATION ------------------------------------------------------ */

.navigation {
    flex: 1 1 auto;
    padding-bottom: 32px;

    &__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;;
        }
    }
    
    &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: rgb(27, 28, 33);
        cursor: pointer;
        text-transform: none;

        &.title--active,
        &:hover {
            color: rgb(126, 126, 130);
        }
    }
}

/* --------- FOOTER ------------------------------------------------------ */

.footer {
    &__text {
        color: #7E7E82;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
        text-align: center;

        &--first {
            display: flex;
            flex-direction: column;
        }

        @media(min-width: 768px) {
            display: inline-flex;
            width: calc((100% - 44px) / 3);
            flex-direction: column;
            margin-bottom: 20px;
            margin-right: 15px;
            text-align: left;

            &--last {
                text-align: right;
                margin-right: 0;
            }
        }
    }

    &__contacts {
        width: 152px;
        margin-bottom: 16px;
        color: rgb(27, 28, 33);
    }
}


.language {
    display: flex;
    gap: 10px;

    &__link {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        caret-color: transparent;
        cursor: pointer;
        transition: color 0.5s;
    }
    &__item--active>.language__link,
    &__link:hover {
        color: rgb(126, 126, 130);
    }
}
    

/* --------- ADDRESS ------------------------------------------------------ */

.address {
    font-style: normal;

    &__email,
    &__phone {
        transition: color 0.3s ease-in;
    }

    &__email {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-bottom: 12px;
    }

    &__phone {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
        margin-bottom: 40px;
    }
    
    &__email:hover,
    &__phone:hover {
        color: #FF3E79;
    }
}

/* --------- BRANDS REPAIR ------------------------------------------------------ */

.brands-repair {
    &__title {
        margin-bottom: 16px;
    }

    &__button {
        display: none;

        @media(min-width: 768px) {
            display: flex;
        }
    }

    &__body {
        @include mobile-slider;
    }

    &__list {
        @include list-layout(2, '72px');
    }

    &__pagination {
        @include mobile-slider-pagination;
    } 
}

.brands-item {
    border: 1px solid rgb(234, 234, 234);
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 72px;
    flex: 1 0 240px;

    &__img {
        height: auto;
        max-width: 50%;
        max-height: 38px;
        object-fit: contain;
    }

    &__link {
        border: 2px solid #FF3E79;
        flex: 0 0 40px;
    }

    @media(min-width: 768px) {
        flex: 1 1 auto;
    }
}

/* --------- TECH TYPE ------------------------------------------------------ */

.tech-types-repair {
    &__title {
        margin-bottom: 16px;
    }

    &__button {
        display: none;

        @media(min-width: 768px) {
            display: flex;
        }
    }

    &__body {
        @include mobile-slider;
    }

    &__list {
        @include list-layout(1, "160px");
    }

    &__pagination {
        @include mobile-slider-pagination;
    }
}

.tech-types-item {
    border: 1px solid rgb(234, 234, 234);
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 160px;
    flex: 1 0 240px;

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    &__link {
        border: 2px solid #FF3E79;
        flex: 0 0 40px;
        margin-left: auto;
    }

    @media(min-width: 768px) {
        flex: 1 1 auto;
    }
}

/* --------- SERVICE PRICE ------------------------------------------------------ */

.service-price {
    &__title {
        margin-bottom: 16px;
    }

    &__body {
        @include mobile-slider;
    }

    &__list {
        @media(min-width: 768px) {
            display: table;
            border-radius: 6px;
        }
    }

    &__item {
        @media(min-width: 768px) {
            display: table-row;

            & .table-cell {
                border-bottom: 1px solid #EAEAEA;
                background: #ffffff;

            }

            &:last-of-type .table-cell {
                border-bottom: none;
            }
        }

        &--head {
            display: none;
            
            @media(min-width: 768px) {
                display: table-header-group;
                background: rgb(248, 248, 248);

                & .table-cell {
                    border-bottom: 1px solid transparent;
                    background: #f8f8f8;
                }
            }
        }

    }

    &__pagination {
        @include mobile-slider-pagination;
    }

    &__text {
        max-width: 400px;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: url('@/img/icons/arrow.svg') center / contain no-repeat;
        }
    }
}

.service-item {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 16px;
    position: relative;
    flex: 1 0 260px;

    &__option {
        margin-bottom: 16px;

        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    &__key {
        color: #7E7E82;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.72;
        margin-bottom: 4px;

        .service-item__option & {
            @media(min-width: 768px) {
                display: none;
            }
        }
    }

    &__value {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    &__button {
        position: absolute;
        bottom: 16px;
        right: 16px;

        @media(min-width: 768px) {
            position: static;
        }

        &::after {
            content: '';
            width: 8px;
            height: 10px;
            background: url('@/img/icons/dropdown.svg') center no-repeat;
        }
    }

    @media(min-width: 768px) {
        background: transparent;
    }

    .table-cell {
        &--width-min-content {
            width: 0;
        }

        &--width-max {
            width: 47%;
        }

        @media(min-width: 768px) {
            vertical-align: middle;
            display: table-cell;
            padding: 24px 12px;
        }
        
        @media(min-width: 992px) {
            padding: 24px;
        }
    }
}

/* --------- MODAL ------------------------------------------------------ */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    pointer-events: none;
    opacity: 0;
    background: #ffffff;
    z-index: 6;
    transition: opacity 0.5s ease;
    overflow: auto;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__body {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 440px;
        padding: 24px 16px;
        transform: translateX(544px);
        transition: transform 0.5s ease;
        z-index: 7;

        .open-modal &--active {
            transform: translateX(0);
        }

        @media(min-width: 544px) {
            padding: 32px;
        }
    }

    &__header {
        width: 100%;
        padding: 0;
        margin-bottom: 32px;

        @media(min-width: 544px) {
            position: absolute;
            left: -72px;
            top: 32px;
        }

        .button--close {
            @media(min-width: 992px) {
                display: flex;
            }
        }
        
    }

    &__title {
        margin-bottom: 24px;
        line-height: 32px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.6px;
        width: fit-content;
        position: relative;
        transition: all 0.5s;
        text-transform: none;
        color: #1B1C21;

        &::before {
            @media(min-width: 544px) {
                left: -32px;
            }
        }
    }

    .open-modal & {
        pointer-events:all;
        opacity: 1;
    }
}

.form {
    &__input {
        background: #ffffff;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 12px 16px;
        height: 48px;
        width: 100%;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;

        &--textarea {
            resize: none;
            height: auto;
        }

        &::placeholder {
            font-size: 16px;
            color: #B5B6BC;
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #7E7E82;
        margin-bottom: 19px;
    }

    &__link {
        color: #FF3E79;
    }

    &__button {
        margin-left: auto;
    }
}


/* --------- HIDDEN ITEMS ------------------------------------------------------ */

.item-hidden {
    
    @media (min-width: 768px) {
        display: none;
    }

    &--tablet-only {
        @media (min-width: 1200px) {
            display: flex;
        }
    }
}